// -----------------What we do-----------------------

.mCSB_scrollTools {
    right: 10px;
    height: 138px;
    top: 10px;

    .mCSB_draggerRail {
        width: 5px;
        background-color: rgba(0,0,0,0.1);
    }

    .mCSB_draggerContainer {}

    .mCSB_dragger {
        height: 90px;

        &:active,
        &:hover {
            .mCSB_dragger_bar {
                background-color: $color--light-blue;
                filter: none;
            }
        }

        .mCSB_dragger_bar {
            background-color: $color--light-blue;
            width: 5px;
        }
    }
}
