/*
 * ----------------------------------------
 * COLORS
 * ----------------------------------------
 */
$color--yellow: #fce38a;
$color--white: #ffffff;
$color--pink: #f38181;
$color--gray: #333333;
$color--light-gray: #999999;
$color--lighter-gray: #f8f8f8;
$color--light-blue: #95e1d3;
$color--platinum: #e7e7e7;
$color--light-pink: #f38181;
