// ---------------------------------------------------
// Mixins
// ---------------------------------------------------

// Transitions

@mixin transition($props: all, $speed: 0.1s, $easing: linear) { transition: $props $speed $easing; }

// Logo source

@function logo($name) {
	$imagePath: '../img/logotypes/';
	@return url(#{$imagePath}#{$name}); }

// Icon source

@function icon($name) {
	$imagePath: '../img/icons/';
	@return url(#{$imagePath}#{$name}); }

// Image source

@function image-url($name) {
	$imagePath: '../img/';
	@return url(#{$imagePath}#{$name}); }
